.mds-banner-wrapper {
  background: #f4f5f8;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.mds-banner-breadcrumb {
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .mds-banner-wrapper {
    height: 256px;
  }
  .mds-banner-wrapper .mds-banner-title {
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .mds-banner-wrapper {
    height: 93px;
  }

  .mds-banner-wrapper .mds-banner-title {
    margin-bottom: 10px;
  }
}
