@import '@myshop/core/tailwindConfig.css';

html {
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 10px;
}

a {
  text-decoration: none;
}

svg {
  display: block;
}

img {
  /*Make images behave responsively. Here they will scale up to 100% of their natural size*/
  max-width: 100%;
  /*Make images display as a block (UA default is usually inline)*/
  display: block;
}
