.mds-footer-container {
  background: #2f333a;
  color: #fff;
}

.mds-footer-links-wrapper {
  padding: 40px 30px;
  display: flex;
}

.mds-footer-col-first,
.mds-footer-col-third {
  width: 25%;
}

.mds-footer-col-second {
  width: 50%;
}

.mds-footer-col-second-wrapper {
  display: flex;
}

.mds-footer-col-infodetails,
.mds-footer-col-accountdetails,
.mds-footer-col-storedetails {
  width: 33.33333%;
}

.mds-footer-tile {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.mds-footer-col-first p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
}

.mds-social-media-list {
  display: flex;
}

.mds-footer-col-first .mds-social-media-list img {
  margin-right: 10px;
}

.mds-footer-col-second a {
  color: #fff;
  text-decoration: none;
}

.mds-footer-col-second ul {
  padding-left: 0px;
  list-style-type: none;
  font-size: 18px;
  font-weight: 400;
}

.mds-footer-col-second ul li {
  margin-bottom: 10px;
}

.mds-footer-col-third p {
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
}

.mds-footer-col-third a {
  color: #e73c17;
  font-weight: 500;
}

.mds-contact-details-wrapper .mds-location-details,
.mds-contact-details-wrapper .mds-phone-details {
  display: flex;
  align-items: center;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
}

.mds-contact-details-wrapper .mds-location-details span,
.mds-contact-details-wrapper .mds-phone-details span {
  margin-left: 10px;
}

.mds-container-bottom {
  padding-top: 20px;
  padding-bottom: 60px;
}

.mds-payment-list-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.mds-copyright-text {
  font-size: 15px;
  font-weight: 400;
}

@media (min-width: 992px) {
  .mds-footer-col-first,
  .mds-footer-col-third {
    width: 25%;
  }

}
@media (max-width: 991px) {
  .mds-footer-col-first,
  .mds-footer-col-third {
    width: 100%;
  }
}
